.container.additional-information-content
  .row
    .col-md-12
      %h3
        Getting to Yosemite from #{from}
      .info-bullet
        .circulabel.circulabel-bullet
          1
        .lead
          Pick up the YARTS bus at various spots in Merced. See details on the YARTS site
          = link_to "here", "http://yarts.com/routes-and-schedules/merced-hwy-140/", target: "_blank"
      .info-bullet
        .circulabel.circulabel-bullet
          2
        .lead
          Board a luxury bus for a scenic ride through Mariposa and El Portal, and then directly into Yosemite National Park. Get dropped off at a number of key Yosemite Valley destinations including Yosemite Lodge, Yosemite Village, the Ahwahnee Hotel, or Curry Village. Schedule and Interactive route map
          = link_to "here", "http://yarts.com/routes-and-schedules/merced-hwy-140", target: "_blank"
      .info-bullet
        .circulabel.circulabel-bullet
          3
        .lead
          Free shuttle service throughout much of the park is available once you get to Yosemite, including the
          = link_to "Yosemite Valley Shuttle", "http://www.nps.gov/yose/planyourvisit/upload/valleyshuttle.pdf", target: "_blank"
          that makes frequent stops at many popular destinations in the Valley. Another
          = link_to "free shuttle",  "http://www.nps.gov/yose/planyourvisit/tmbus.htm", target: "_blank"
          covers Tuolumne Meadows. See details on all the transit options to numerous destinations throughout the park
          = link_to "here", "http://www.nps.gov/yose/planyourvisit/publictransportation.htm#CP_JUMP_566977", target: "_blank"
      .info-bullet
        .circulabel.circulabel-bullet
          4
        .lead
          From Yosemite Valley, YARTS also offers transit to Tuolumne, the east side of the Sierra, all the way to Mammoth. Maps, schedules and more info
          = link_to "here", "http://yarts.com/routes-and-schedules/mammoth-lakes-tuolumne-meadows-yosemite-valley/", target: "_blank"

      %h3 Costs

      %h4 Adult

      .lead $25 round-trip, $13 one-way

      %h4 Child (12 & under)/Senior (62+)

      .lead $18 round-trip, $9 one-way

      .lead
        %i
          * With YARTS’s Family Friendly Fares, one child (12 or younger) rides free with each paying adult. Each additional child rides for the children’s fare (see above).
        %br
        %i
          All YARTS fares include Park entrance fee!
        %br
        %i
          = link_to "See full fare schedule.", "http://yarts.com/tickets-and-fares/"

      = render partial: "/pages/additional_info/yosemite/lodging"

      = render partial: "/pages/additional_info/yosemite/food"

      = render partial: "/pages/additional_info/yosemite/more_info"
