.container.additional-information-content
  .row
    .col-md-12
      %h3
        Getting to Yosemite from #{from}
      .info-bullet
        .circulabel.circulabel-bullet
          1
        .lead
          Connect to BART and make your way to the Richmond station.
      .info-bullet
        .circulabel.circulabel-bullet
          2
        .lead
          At the Richmond BART station, transfer to the San Joaquin train for a relaxing and scenic ride through the Central Valley. Enjoy free wifi, large comfortable seats on your way to the Merced station.
      .info-bullet
        .circulabel.circulabel-bullet
          3
        .lead
          At the Merced Amtrak station, transfer to the YARTS bus.
      .info-bullet
        .circulabel.circulabel-bullet
          4
        .lead
          Board a luxury bus for a scenic ride through Mariposa and El Portal, and then directly into Yosemite National Park. Get off at a number of key Yosemite Valley destinations including Yosemite Lodge, Yosemite Village, the Ahwahnee Hotel, or Curry Village. Schedule and Interactive route map here.
      .info-bullet
        .circulabel.circulabel-bullet
          5
        .lead
          Free shuttle service throughout much of the park is available once you get to Yosemite, including the Yosemite Valley Shuttle that makes frequent stops a many popular destinations in the Valley. Another free shuttle covers Tuolumne Meadows. See details on all the transit options to numerous destinations throughout the park here.
      .info-bullet
        .circulabel.circulabel-bullet
          6
        .lead
          From Yosemite Valley, YARTS also offers transit to Tuolumne, the east side of the Sierra, all the way to Mammoth. Maps, schedules and more info here.

      %h3 Costs

      %h4 Adult

      .lead $25 round-trip, $13 one-way

      %h4 Child (12 & under)/Senior (62+)

      .lead $18 round-trip, $9 one-way

      .lead
        %i
          * With YARTS’s Family Friendly Fares, one child (12 or younger) rides free with each paying adult. Each additional child rides for the children’s fare (see above).
        %br
        %i
          All YARTS fares include Park entrance fee!
        %br
        %i
          = link_to "See full fare schedule.", "http://yarts.com/tickets-and-fares/"

      = render partial: "/pages/additional_info/yosemite/lodging"

      = render partial: "/pages/additional_info/yosemite/food"

      = render partial: "/pages/additional_info/yosemite/more_info"
