%h3 Lodging
%p.lead
  There are a number of comfortable and affordable loding opportunities in Yosemite from camping under the stars to cozy cabins to more traditional hotels, all close to transit stops in the park.
%h4
  = link_to "Housekeeping Camp", "http://www.yosemitepark.com/housekeeping-camp.aspx", target: "_blank"
.strong
  (801) 559-4884  ~$120/night in summer, ~$80/night off-season, sleeps up to 6.
%p.lead
  These simple living quarters don’t have telephones or TV, but are surrounded by plenty of amenities,
  such as a camp store, laundry facility, central restrooms and showers (just a short walk from any of the 266 units),
  and lots of rental gear available (including bedding). Curry Village and the heart of Yosemite Valley,
  with all of their restaurants, gift shops, outdoor adventure access, guided tours and ranger/naturalist programs,
  are located nearby and accessible by the free Yosemite Valley Shuttle. Just hop on and off at stop #12,
  located across the street from Housekeeping Camp at LeConte Memorial Lodge.

%h4
  = link_to "Curry Village/Camp Curry", "http://www.yosemitepark.com/curry-village.aspx", target: "_blank"
.strong
  (801) 559-5000  $124-$162/night, sleeps 4
%p.lead
  This historic village has unique rustic tent cabins with electric light and cot beds (bedding is provided).
  Heated cabins are also available. Restrooms, showers and a pool are centrally located in the village and
  shared with other Curry Village guests. All amenities in Curry Village are accessible via the year-round
  Valley Shuttle (stop #13b) and YARTS.

%h4
  = link_to "Upper Pines", "http://www.nps.gov/yose/planyourvisit/upperpines.htm", target: "_blank"
  ,
  = link_to "Lower Pines", "http://www.nps.gov/yose/planyourvisit/lowerpines.htm", target: "_blank"
  ,
  = link_to "North Pines", "http://www.nps.gov/yose/planyourvisit/northpines.htm", target: "_blank"
  Campgrounds
%p.lead
  Upper Pines and Lower Pines Campgrounds are both accessible via Valley Shuttle stop #19. North Pines Campground is accessible via Valley Shuttle stop #18.)

%h4
  = link_to "Yosemite Lodge", "http://www.yosemitepark.com/yosemite-lodge.aspx", target: "_blank"
.strong
  (801) 559-5000 (rates $227-$239/night)
%p.lead
  As the closest lodging to Yosemite Falls, Yosemite Lodge is a great choice for those who want to play and stay in the heart of the Valley. With 241 newly renovated eco-friendly rooms (some including bunk beds) and 4 Family rooms, there are options available for everyone wanting very comfortable accommodation in the center of the Yosemite Valley!
%p.lead
  It is important to plan ahead and reserve a camping spot well in advance. Yosemite National Park is visited by millions each year and is a very popular tourist attraction, campgrounds are usually full during the summer peak season.
