%h3 More Information

%p.lead
  The Mountaineering School, located in Curry Village rents Yosemite camping gear, backpacking and climbing equipment on a first come first served basis only.
  Please contact the Mountaineering School at (209) 372-8344 for additional information. See more information
  = link_to "here", "http://www.yosemitepark.com/camping-climbing-rentals.aspx", target: "_blank"
%p.lead
  Rent bikes from
  = link_to "Curry Village Guest Services", "http://www.yosemitepark.com/curry-village-guest-services.aspx", target: "_blank"
  and explore even more of the Park! Bicycles are available for hourly or daily rentals from the Curry Village Recreation Center (Valley Shuttle stops 13a and 21), on a first-come, first-served basis for $12/hour and $34/day.
   sure to pick up a
   = link_to "trail map", "http://www.yosemitepark.com/bike-trails.aspx", target: "_blank"
   at the rental shop.
   More info
   = link_to "here", "http://www.yosemitepark.com/bike-rentals.aspx", target: "_blank"
%p.lead
  Bringing your bike and gear with you is another great option. Each bus offers ample storage for you backpack, bike, climbing gear or any other luggage you intend to bring for your outing.
  Bikes and packs are allowed in the storage compartments under the YARTS’ buses, as space allows.
  Keep in mind that if the storage is full, you may not be able to bring your bike,
  = link_to "more info here", "http://yarts.com/how-to-ride/", target: "_blank"
  The San Joaquin Amtrak train allows bike storage and there is no extra cost or reservation required,
  = link_to "see more info here", "https://www.amtrak.com/bring-your-bicycle-onboard", target: "_blank"
%p.lead
  Treat the family to an evening of entertainment at
  = link_to "The Yosemite Theater", "http://www.yosemiteconservancy.org/"
  Films and live performances are held nightly at this theater behind the Valley Visitors Center, with tickets available in the Visitor Center ($4 for children/$8 for adults). The Yosemite Theater is run by the Yosemite Conservancy, with proceeds supporting conservation, restoration and education programs within the park.
