.container.additional-information-content
  .row
    .col-md-12
      %h3
        Getting to Yosemite from #{from}
      .info-bullet
        .circulabel.circulabel-bullet
          1
        .lead
          Connect to
          = link_to "BART", "https://www.bart.gov/", target: "_blank"
          and make your way to the
          = link_to "Richmond station"."https://www.bart.gov/stations/rich", target: "_blank"
      .info-bullet
        .circulabel.circulabel-bullet
          2
        .lead
          At the Richmond BART station, transfer to the
          = link_to "San Joaquin train", "https://www.amtrak.com/servlet/Satellite?pagename=am/AM_Snippet_C/IBRoutes&Route=San%20Joaquin", target: "_blank"
          for a relaxing and scenic ride through the Central Valley. Enjoy free wifi, large comfortable seats on your way to the Merced station.
      .info-bullet
        .circulabel.circulabel-bullet
          3
        .lead
          At the Merced Amtrak station, transfer to the
          = link_to "YARTS", "http://yarts.com/routes-and-schedules/merced-hwy-140/", target: "_blank"
          bus.
      .info-bullet
        .circulabel.circulabel-bullet
          4
        .lead
          Board a luxury bus for a scenic ride through Mariposa and El Portal, and then directly into Yosemite National Park. Get off at a number of key Yosemite Valley destinations including Yosemite Lodge, Yosemite Village, the Ahwahnee Hotel, or Curry Village.
          = link_to "Schedule and Interactive route map here.", "http://yarts.com/routes-and-schedules/merced-hwy-140/", target: "_blank"
      .info-bullet
        .circulabel.circulabel-bullet
          5
        .lead
          Free shuttle service throughout much of the park is available once you get to Yosemite, including the
          = link_to "Yosemite Valley Shuttle", "http://www.nps.gov/yose/planyourvisit/upload/valleyshuttle.pdf", target: "_blank"
          that makes frequent stops a many popular destinations in the Valley. Another
          = link_to "free shuttle", "http://www.nps.gov/yose/planyourvisit/tmbus.htm", target: "_blank"
          covers Tuolumne Meadows. See details on all the transit options to numerous destinations throughout the park
          = link_to "here","http://www.nps.gov/yose/planyourvisit/publictransportation.htm#CP_JUMP_566977", target: "_blank"

      .info-bullet
        .circulabel.circulabel-bullet
          6
        .lead
          From Yosemite Valley, YARTS also offers transit to Tuolumne, the east side of the Sierra, all the way to Mammoth. Maps, schedules and
          = link_to "more info here", "http://yarts.com/routes-and-schedules/mammoth-lakes-tuolumne-meadows-yosemite-valley/", target: "_blank"

      %h3 Costs

      %h4 Adult (Richmond to Merced on Amtrak)

      .lead $48 round trip, $24 one-way

      %h4 Child (12 & under)

      .lead 50% off

      %h4 Senior (62+)

      .lead $20.40 one-way

      .lead
        %i
          * Amtrak frequently offers deals and has numerous discounts for students, military, etc.
        %br
        %i
          = link_to "See more info here.", "https://www.amtrak.com/discount-train-fares-for-kids-seniors-military-students-and-more"


      = render partial: "/pages/additional_info/yosemite/lodging"

      = render partial: "/pages/additional_info/yosemite/food"

      = render partial: "/pages/additional_info/yosemite/more_info"
