.activity-box(data-trip-id="#{trip_id}")
  .activity
    .container
      .row
        .col-md-8
          .row.activity-heading
            .col-md-7
              %h4
                - name = trip['name'] || "Hiking Trip"
                = name
            .col-md-5.hidden-sm.hidden-xs
              .cta-btn-dark.check-it-out-button
                Check it out
          .row
            .col-md-12
              %strong
                = human_trip_length(trip)
                = trip['properties']['activity'] || 'Hike'
              .lead
                = truncate_html(trip['description'], length:80)
        .col-md-4
          - begin
            = image_tag trip['photos']['data'][0]['medium_square']['cdn_url']
          - rescue
            = image_tag 'placeholders/destination_profile.png'
      .row.visible-sm.visible-xs
        .col-xs-12
          .cta-btn-dark.padded.check-it-out-button
            Check it out
  .trip-details
    .container.trip-details-container
      .row
        .col-md-12
          = render partial: "/pages/trip_details",locals:{trip_id:trip_id,trip:trip}
    .trip-photos
      .container
        .row
          .col-md-12
            = render partial: "/pages/trip_photos",locals:{trip_id:trip_id,trip:trip}
    = render partial: "/pages/trip_map",locals:{trip_id:trip_id}
