- map_id = "trip_map_#{trip_id}"
.trip-map
  .map-box
    .map-container(id="#{map_id}")
    #map-toolbar
      -# .map-toolbar-btn.basemap-toolbar-btn
      -#   .lead.beefy
      -#     %i.fa.fa-map
      .map-toolbar-btn.layer-toolbar-btn
        .lead.beefy
          %i.fa.fa-map-marker
      .map-toolbar-btn.zoom-in-btn
        .lead.beefy
          %i.fa.fa-plus
      .map-toolbar-btn.zoom-out-btn
        .lead.beefy
          %i.fa.fa-minus
    .layer-toolbar
      .layer-header
        %span.lead.beefy Select Layers
        .pull-right
          .lead.beefy
            %i.fa.fa-close.layer-toolbar-close-btn
      .layer-item.route(data-name='route')
        .icon
        .label
          Route
        .indicator.selected
          %i.fa.fa-square-o.unchecked
          %i.fa.fa-check-square-o.checked
      .layer-item.photos
        .icon
        .label
          Photos
        .indicator
          %i.fa.fa-square-o.unchecked
          %i.fa.fa-check-square-o.checked
      .layer-item.transit(data-name='transit')
        .icon
        .label
          Transit
        .indicator
          %i.fa.fa-square-o.unchecked
          %i.fa.fa-check-square-o.checked
      .layer-item.campground(data-name='campgrounds')
        .icon
        .label
          Campgrounds
        .indicator
          %i.fa.fa-square-o.unchecked
          %i.fa.fa-check-square-o.checked
      .layer-item.water(data-name='water')
        .icon
        .label
          Water/Bathroom
        .indicator
          %i.fa.fa-square-o.unchecked
          %i.fa.fa-check-square-o.checked
      .layer-item.lodging(data-name='lodging')
        .icon
        .label
          Lodging
        .indicator
          %i.fa.fa-square-o.unchecked
          %i.fa.fa-check-square-o.checked
      .layer-item.food(data-name='food')
        .icon
        .label
          Food
        .indicator
          %i.fa.fa-square-o.unchecked
          %i.fa.fa-check-square-o.checked

  .clearfix
  .map-layers
    .row
      .col-md-6.col-md-offset-6
        .text-center
          = link_to "Terrain", "#", class: "basemap-btn", data: {name: 'Hike'}
          \|
          = link_to "Topo", "#", class: "basemap-btn", data: {name: 'Topo'}
          \|
          = link_to "Satellite", "#", class: "basemap-btn", data: {name: 'Satellite'}
          \|
          = link_to "National Parks", "#", class: "basemap-btn", data: {name: 'National Parks'}
