- from = params[:from] || 'San Francisco'
- from = from.gsub(/_/,' ').titleize
/ Set your background image for this header on the line below.
%header.intro-header{:style => "background-image: url('/assets/photos/tahoe.jpg')"}
  .container
    .row
      .col-md-12
        .destination-heading
          %h1.text-center
            #{from} to
            %br
            South Lake Tahoe
/ Main Content
.container
  .row
    .col-md-12
      .destination-heading
        = image_tag "/assets/placeholders/destination_profile.png", class: "destination-image"
        .destination-blurb
          .lead
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
          .lead
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        .clearfix

.additional-info-container
  .container
    .row
      .col-xs-8
        %h4 Additional Info
      .col-xs-4
        .circulabel.pull-right.open-btn
          %i.fa.fa-plus
        .circulabel.pull-right.close-btn
          %i.fa.fa-minus

= render partial: "/pages/tahoe_additional_info", locals:{from:from}

.blue-container
  .container
    .row
      .col-md-12
        %h4 Top Transit Accessible Activities
- 10.times do |i|
  = render partial: "/pages/activity", locals:{trip_id:i}

- if _trip_id = params[:trip_id].presence
  :javascript
    CarLess.loadTripDetails(#{_trip_id});
