- orig_from = params[:from] || 'san_francisco'
- from = orig_from.gsub(/_/,' ').titleize
/ Set your background image for this header on the line below.
%header.intro-header{:style => "background-image: url('#{image_path("photos/tahoe.jpg")}')"}
  .container
    .row
      .col-md-12
        .destination-heading
          %h1.text-center
            #{from} to
            %br
            South Lake Tahoe
    .row
      .col-md-4.col-md-offset-2
        .from-select
          .item.selected-item
            from #{from}
            .pull-right
              %i.fa.fa-caret-down
          .unselected-items
            - if orig_from == "san_francisco"
              = link_to "/to/south_lake_tahoe/from/sacramento" do
                .item.unselected-item
                  from Sacramento
            - else
              = link_to "/to/south_lake_tahoe/from/san_francisco" do
                .item.unselected-item
                  from San Francisco
      .col-md-4
        .to-select
          .item.selected-item
            to South Lake Tahoe
            .pull-right
              %i.fa.fa-caret-down
          .unselected-items
            - if orig_from == 'san_francisco'
              = link_to "/to/yosemite/from/#{orig_from}" do
                .item.unselectd-item
                  to Yosemite
            - else
              = link_to "/to/yosemite/from/central_valley" do
                .item.unselectd-item
                  to Yosemite


/ Main Content
.container
  .row
    .col-md-12
      .destination-heading
        = image_tag "placeholders/destination_profile.png", class: "destination-image"
        .destination-blurb
          .lead
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
          .lead
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        .clearfix

.additional-info-container
  .container
    .row
      .col-xs-8
        %h4 Additional Info
      .col-xs-4
        .circulabel.pull-right.open-btn
          %i.fa.fa-plus
        .circulabel.pull-right.close-btn
          %i.fa.fa-minus

= render partial: "/pages/tahoe_additional_info", locals:{from:from}

.blue-container
  .container
    .row
      .col-md-12
        %h4 Top Transit Accessible Activities
#activities-content

- if _trip_id = params[:trip_id].presence
  :javascript
    CarLess.loadTripDetails(#{_trip_id});

:javascript
  $(function(){
    CarLess.initDestinationPage('tahoe');
  });
