%h3 Lodging
%p.lead
  The South and West Shore of Lake Tahoe is loaded with lodging opportunities!

%h4= link_to "Bay View Campground", "http://www.fs.usda.gov/wps/portal/fsinternet/!ut/p/c4/04_SB8K8xLLM9MSSzPy8xBz9CP0os3gDfxMDT8MwRydLA1cj72BTJw8jAwjQL8h2VAQAzHJMsQ!!/?ss=110519&navtype=BROWSEBYSUBJECT&navid=100000000000000&pnavid=null&recid=11779&ttype=recarea&pname=Lake%20Tahoe%20Basin%20Mgt%20Unit%20-%20Bayview%20Campground", target: "_blank"
  Bay View Campground is located across the Inspiration Point Trolley stop above Emerald Bay! This is a first come first serve campground so plan accordingly. Cascade Falls Trailhead is located within the Bay View Campground!

%h4
  = link_to "Meeks Bay", "http://www.meeksbayresort.com/", target: "_blank"
%p.lead
  Meeks Bay is a beautiful resort with cabin, tent sites, and trailer camping available.

%h4
  = link_to "Camp Richardson", "http://www.camprichardson.com/", target: "_blank"
%p.lead
  Camp Richardson is a historic resort equipped with hotel rooms, cabins, tent sites, and trailer camping!

%h4
  = link_to "Fallen Leaf Campground", "http://www.fs.usda.gov/wps/portal/fsinternet/!ut/p/c5/04_SB8K8xLLM9MSSzPy8xBz9CP0os3gDfxMDT8MwRydLA1cj72BTSw8jAwgAykeaxcN4jhYG_h4eYX5hPgYwefy6w0H24dcPNgEHcDTQ9_PIz03VL8iNMMgycVQEAIzTHkw!/dl3/d3/L2dJQSEvUUt3QS9ZQnZ3LzZfME80MEkxVkFCOTBFMktTNUJIMjAwMDAwMDA!/?ss=110519&ttype=recarea&recid=11781&actid=29&navtype=BROWSEBYSUBJECT&navid=110130000000000&pnavid=110000000000000&pname=Lake+Tahoe+Basin+Management+Unit+-+Fallen+Leaf+Campground", target: "_blank"
%p.lead
  Fallen Leaf Campground is located along beautiful Fallen Leaf Lake with plenty of tent sites available, just south of the Mt. Tallac Trailhead!
%p.lead
  = link_to "Backpacking Desolation Wilderness", "http://www.fs.usda.gov/recarea/ltbmu/recarea/?recid=11786", target: "_blank"
  is also a possibility!
%p.lead
  The lodging opportunities discussed above are all conveniently located along Highway 89 adjacent to an
  = link_to "Emerald Bay Trolley", "http://tahoetransportation.org/emerald-bay-trolley", target: "_blank"
  stop!
%p.lead
  It is important to plan ahead and reserve a camping spot well in advance. The Lake Tahoe Basin is a popular tourist attraction, campgrounds are usually full during the summer peak season.
