%h3 More Information

%p.lead
  If you don’t want to bring your own gear, consider renting camping gear from
  = link_to "Tahoe Wilderness Adventures", "http://tahoewildernessadventures.com/camping-gear-rental", target: "_blank"
  , they offer full service or individual gear rental and will deliver the gear right to your campspot or trailhead!

%p.lead
  Renting a bike near after arriving in South Lake is a great option for getting around.
  Many of the key lodging and recreation destination are accessible via bike paths.
  South Shore Bikes is a short walk down Emerald Bay Road from the South Lake Tahoe “Y” Transit Center or more information.
  A tandem bike with a trailer is $75 for overnight rental, and includes helmets and a local map.
  = link_to "See rates and more info here", "http://bikes.southshorebikeandsnow.com/rental-rates/"

%p.lead
  = link_to "A great bike map is available here", "http://www.tahoebike.org/where-to-ride/bike-map/", target: "_blank"

%p.lead
  Bringing your bike with you is another great option. BART allows bikes on board and space is not usually an issue except when travelling during peak commute hours,
  = link_to "see more info here", "http://www.bart.gov/guide/bikes", target: "_blank"
  \. The Capitol Corridor Amtrak train allows bike storage and there is no extra cost or reservation required,
  = link_to "see more info here", "https://www.amtrak.com/bring-your-bicycle-onboard"
  \. The Amtrak thruway bus from Sacramento to the ‘Y’ in South Lake Tahoe also allows bikes in a storage unit under the bus, as space allows. 
