.container.additional-information-content
  .row
    .col-md-12
      %h3
        Getting to South Lake Tahoe from #{from}
      .info-bullet
        .circulabel.circulabel-bullet
          1
        .lead
          Take the
          = link_to "Amtrak thruway bus route 20c", "http://amtrakcalifornia.com/routes/Amtrak-Thruway-Bus-Route-20c", target: "_blank"
          from Sacramento to the ‘Y’ in South Lake Tahoe. These luxury buses have comfortable seats, restrooms, plenty of storage for gear and large windows for taking in the Sierra scenery along the way.
      .info-bullet
        .circulabel.circulabel-bullet
          2
        .lead
          Transfer to the classic open air
          = link_to "Emerald Bay Trolley", "http://www.tahoetransportation.org/emerald-bay-trolley", target: "_blank"
      .info-bullet
        .circulabel.circulabel-bullet
          3
        .lead
          Take in the view and the fresh air as you ride the Trolley to numerous recreation, lodging and camping destinations.
      .info-bullet
        .circulabel.circulabel-bullet
          4
        .lead
          Alternatively, ride your bike or rent a bike and ride along the bike path or road shoulder to your destination.


      %h3 Costs
      .strong Sacramento to South Lake Tahoe on Amtrak Thruway Bus
      %h4 Adult
      .lead $68 round trip, $34 one-way
      %h4 Child (12 & under)
      .lead $34 round trip, $17 one-way
      %h4 Senior (62+)
      .lead $57.80 round trip, $28.90 one-way
      .lead
        %i
          * Amtrak frequently offers deals and has numerous discounts for students, military, etc.
        %br
        %i
          = link_to "See more info here.", "https://www.amtrak.com/discount-train-fares-for-kids-seniors-military-students-and-more", target: "_blank"

      = render partial: "/pages/additional_info/south_lake_tahoe/lodging"

      = render partial: "/pages/additional_info/south_lake_tahoe/food"

      = render partial: "/pages/additional_info/south_lake_tahoe/more_info"
