.container.additional-information-content
  .row
    .col-md-12
      %h3
        Getting to South Lake Tahoe from #{from}
      .info-bullet
        .circulabel.circulabel-bullet
          1
        .lead
          Connect to
          = link_to "BART", "https://www.bart.gov/", target: "_blank"
          and make your way to the
          = link_to "Richmond station", "https://www.bart.gov/stations/rich", target: "_blank"

      .info-bullet
        .circulabel.circulabel-bullet
          2
        .lead
          At the Richmond BART station, transfer to the
          = link_to "Capitol Corridor train", "http://www.capitolcorridor.org", target: "_blank"
          for a relaxing and scenic ride along the scenic Carquinez Strait through the Central Valley to Sacramento. Enjoy free wifi, large comfortable seats, and restrooms on your way.

      .info-bullet
        .circulabel.circulabel-bullet
          3
        .lead
          Take the
          = link_to "Amtrak thruway bus route 20c", "http://amtrakcalifornia.com/routes/Amtrak-Thruway-Bus-Route-20c", target: "_blank"
          from Sacramento to the ‘Y’ in South Lake Tahoe. These luxury buses have comfortable seats, restrooms, plenty of storage for gear and large windows for taking in the Sierra scenery along the way.

      .info-bullet
        .circulabel.circulabel-bullet
          4
        .lead
          Transfer to the classic open air
          = link_to "Emerald Bay Trolley", "http://www.tahoetransportation.org/emerald-bay-trolley", target: "_blank"

      .info-bullet
        .circulabel.circulabel-bullet
          5
        .lead
          Take in the view and the fresh air as you ride the Trolley to numerous recreation, lodging and camping destinations.

      .info-bullet
        .circulabel.circulabel-bullet
          6
        .lead
          Alternatively, ride your bike or rent a bike and ride along the bike path or road shoulder to your destination.

      %h3 Costs

      %h4 Adult
      .lead $25 round-trip, $13 one-way

      %h4 Child (12 & under)/Senior (62+)
      .lead $18 round-trip, $9 one-way

      = render partial: "/pages/additional_info/south_lake_tahoe/lodging"

      = render partial: "/pages/additional_info/south_lake_tahoe/food"

      = render partial: "/pages/additional_info/south_lake_tahoe/more_info"
