.container
  .row
    .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
      .partners
        %h3
          Partners
        .row
          .col-md-3.col-sm-4.col-xs-6.partner-logo
            = link_to 'http://www.fs.fed.us/', target: "_blank" do
              = image_tag 'partner_logos/greyscale/usfs.jpg'
          .col-md-3.col-sm-4.col-xs-6.partner-logo
            = link_to ' http://www.nps.gov', target: "_blank" do
              = image_tag 'partner_logos/greyscale/nps.jpg'
          .col-md-3.col-sm-4.col-xs-6.partner-logo
            = link_to ' http://www.blm.gov', target: "_blank" do
              = image_tag 'partner_logos/greyscale/blm.jpg'
          .col-md-3.col-sm-4.col-xs-6.partner-logo
            = link_to 'http://www.fws.gov', target: "_blank" do
              = image_tag 'partner_logos/greyscale/fws.jpg'
          .col-md-3.col-sm-4.col-xs-6.partner-logo
            = link_to ' http://www.sierranevadageotourism.org', target: "_blank" do
              = image_tag 'partner_logos/greyscale/geo_tourism.jpg'
          .col-md-3.col-sm-4.col-xs-6.partner-logo
            = link_to 'http://www.csuchico.edu/', target: "_blank" do
              = image_tag 'partner_logos/greyscale/chico.jpg'
          .col-md-3.col-sm-4.col-xs-6.partner-logo
            = link_to 'http://www.trailheadlabs.com', target: "_blank" do
              = image_tag 'partner_logos/greyscale/trailheadlabs.jpg'
