/ Page Header
/ Set your background image for this header on the line below.
%header.intro-header{:style => "background-image: url('/assets/photos/yosemite_unsplash.jpg')"}
  .container
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        .site-heading
          %h1.text-left
            CarLess
            %br
            California
/ Main Content
.container
  .row
    .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
      .site-welcome
        %h2
          Hello!
        .lead
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inven- tore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        %br
      .row.destination-cards
        .col-md-5.col-md-offset-1
          = link_to to_path(id: 'south_lake_tahoe') do
            .south-lake-tahoe
              = render partial: "destination_card", locals: {title:"South Lake Tahoe"}
        .col-md-5
          = link_to to_path(id: 'yosemite') do
            .yosemite
              = render partial: "destination_card", locals: {title:"Yosemite"}
        %br
        %br
#featured-trip
= render partial: 'partners'
:javascript
  $(function(){
    $('#featured-trip').load('/index/featured_trip');
  })
